@font-face {
    font-family: "Labil Grotesk";
    src: url("https://db.onlinewebfonts.com/t/3624085123711a73a22276b47ea3e323.eot");
    src: url("https://db.onlinewebfonts.com/t/3624085123711a73a22276b47ea3e323.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3624085123711a73a22276b47ea3e323.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3624085123711a73a22276b47ea3e323.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3624085123711a73a22276b47ea3e323.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3624085123711a73a22276b47ea3e323.svg#Labil Grotesk")format("svg");
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-weight: 400;
 font-family: "Labil Grotesk";
}
html {
    scroll-behavior: smooth;
}
 html, body {
 width: 100%;
 height: 100%;
}
a {
    text-decoration: none;
}

main {
 width: 100%;
 height: 100%;
 position: relative;
}

.navbar {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}

.navbar .mobile-menu {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.navbar .mobile-menu .logo-img {
    width: 80px;
    cursor: pointer;
}

.navbar .mobile-menu .menu-img {
    width: 60px;
    cursor: pointer;
}

.navbar .desktop-menu {
    display: none;
}

.navbar .desktop-menu .logo-img {
    width: 91px;
}

.navbar .desktop-menu .menu {
    width: 470px;
    background: #000;
    height: 56px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    padding: 4px 12px 4px 4px;
    position: relative;
}

.navbar .desktop-menu .menu a {
    color: #C4C4C4;
    font-family: "Labil Grotesk";
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -1%;
    padding: 4px;
    transition: all 0.3s ease-in-out;
}

.navbar .desktop-menu .menu a.active{
    background-color: #fff;
    color: #000;
    padding: 10px 16px;
    border-radius: 48px;
}

.navbar .desktop-menu .menu a:hover {
    background-color: #fff;
    color: #000;
    padding: 10px 16px;
    border-radius: 48px;
}

@media (min-width: 768px) {
    .navbar .mobile-menu  {
        display: none;
    }
    .navbar .desktop-menu {
     display: block;
     text-align: center;
    }
}


/* Start Hero Section */

.hero-section {
    width: 100%;
    padding: 0 1rem;
}


.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}


.col-12 {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 80px);
    grid-template-columns: repeat(5, 1fr);
}

.col-12 h1 {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

.scroll-btn {
    background-color: #F9F9F9;
    color: #000;
    border-radius: 144px;
    border: none;
    width: 139px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    padding: 8px;
    grid-column-start: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}


@media (min-width: 768px) {
    .hero-section {
        padding: 2rem 5rem;
    }

    .container {
        max-width: 1220px;
    }

    .col-12 {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 120px);
    grid-template-columns: repeat(5, 1fr);
}

    .col-12 h1 {
        font-size: 226px;
        line-height: 90%;
        letter-spacing: -1%;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .scroll-btn  {
        grid-column-start: 8;
        grid-row-start: 6;
        grid-row-end: 5;
        padding: 32px 28px;
        width: 231px;
        font-size: 20px;
    }
}

.bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 48px;
    padding-top: 20px;
}

.bottom .left h5 {
    font-size: clamp(1.2rem,2.5vw,227px);
    line-height: 140%;
    letter-spacing: -1%;
    margin-bottom: 10px;

}
.bottom .left a,
.bottom p {
    font-size: clamp(0.9rem,1.5vw,20px);
    line-height: 24px;
    letter-spacing: -1%;
    color: #000;
}
@media (min-width: 768px) {
    .bottom p {
        width: 471px;
    }
}
/* End Hero Section */



/* Projects Section */

.projects-section {
    width: 100%;
    height: 100vh;
    padding: 4rem 1rem 2rem 1rem;
}

.project-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-head-section h4 {
    font-size: clamp(24px, 2.5vw, 48px);
    line-height: 130%;
    letter-spacing: -1%;
}
.project-head-section a {
    font-size: clamp(14px, 1.5vw, 20px);
    line-height: 140%;
    letter-spacing: -1%;
    display: flex;
    align-items: center;
    gap: 8px;
}
.project-header p {
         font-size: clamp(14px, 1.5vw, 20px);
    }

@media (min-width: 767px) {

    .projects-section {
        padding: 9rem 5rem 2rem 5rem;
    }
    .project-header p {
        width: 392px;
    }
    
}


/* project cards */

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
}

.cards .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    margin-bottom: 20px;

}

.cards .card .card-img {
    width: 100%;
}
.cards .card .card-img img {
    max-width: 100%;
}

.cards .card .card-info h5{
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -1%;
}

.cards .card .card-info p{
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -1%;
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}